.img {
    width: 100%;
    transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s, border-radius 0.9s ease 0.1s;
    border-radius: 10px;
}

.img:hover {
    opacity: 0.8;
    transform: scale(1.01);
    border-radius: 15px;
}